absl-py==0.1.11
aiohttp==3.0.7
astor==0.6.2
async-timeout==2.0.0
attrs==17.4.0
bleach==1.5.0
catboost==0.6.3
chardet==3.0.4
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
idna==2.6
idna-ssl==1.0.1
Markdown==2.6.11
multidict==4.1.0
numpy==1.14.1
protobuf==3.5.2
six==1.11.0
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
Werkzeug==0.14.1
yarl==1.1.1
